body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  /* margin:0 5rem; */
}

.navv, .section3{
  background-color: #DEF5E5;
  text-align: center;
  padding: 1rem;
  padding-bottom: 3rem;
}

/* .fix{
  position: fixed;
} */
.meriphoto{
  height: 250px;
  width: 250px;
  border-radius: 100%;
  /* padding: 1.2rem; */
  /* margin-right: 5rem */
}
.itr{
  vertical-align: middle;
  text-align:center;
}
.intro{
    margin-top:3rem;
font-size: 2.1rem;
  font-weight: 80;
  vertical-align: middle;
  color: #8EC3B0;
  text-align: left;

}

.navclr{
background-color: #DEF5E5;
}

.section2, .contact{
  background-color: #8EC3B0;
  text-align: center;
  padding: 3rem;
  color: #DEF5E5;
  margin: 0;
}

.hdng{
  margin-bottom: 4rem;
  font-size: 3rem;
}
.coding{
  height: 100px;
  width: 100px;
padding: 0.2rem;
}
.cdngtext{
  font-size: 2rem;
  color: #BCEAD5;
  margin-bottom: 0;
}

.hey{
      vertical-align: middle;
}
.text{
  text-align: left;
}
.padtp{
  margin-top: 2rem;
}

.section3{
  color: #8EC3B0;
  padding: 2.5rem;
}

.cdngtext2{
  font-size: 2rem;
  color: #8EC3B0;
  margin-bottom: 0;
}

.conatctpic{
  height: 1.5rem;
  /* margin-right: 2.5em; */
  /* padding: 1rem; */
  margin: 0.7rem 1rem;
}

.contact{
  padding: 0;
}

.cr{
  margin: 0;
  padding-bottom: 0.6rem;
}

@media (max-width : 900px) {
  .intro{
    text-align: center;
  }
}
